* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #393646;
}

.header{
    display: flex;
    background-color: #2b2935;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
}
.logo{
    color: white;
    font-family: 'Ubuntu';
    font-size: 36px;
    display: block;
    margin: auto;
}
#settings_Button{
    display: flex;
    flex-direction: column;
    padding: 8px
}
#settings_Button i{
    color: white;
    transform: rotate(0deg);
    transition: 1s;
}
#settings_Button i:Hover{
    transform: rotate(360deg);
    transition: 1s;
}
/* here the code for the buttons and flex wrapper starts */

.flex-wrapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.button-row div {
    font-family: 'ubuntu';
    min-height: 20vw;
    min-width: 20vw;
    background-color: #4F4557;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 36px;
}

/* .button-row div:hover,.button-row div:active{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 0px black;
    transition: 0.1s;
} */
.unpressed {
    color: #BA90C6;
    box-shadow: 0px 0px 0px white;
}

.pressed {
    color: white;
    box-shadow: 0px 0px 16px white;
    transition: 0.1s;
}

/* The Css for settings page starts here */
.form{
    display: flex;
    padding: 16px;
    gap: 28px;    
    flex-direction: column;
    align-items: center;
}
.heading{
    display: block;
    margin: auto;
    color: white;
    font-family: 'ubuntu';
    font-size: 36px;
    padding: 16px;
}
.little_Divider{
    width: 25%;
    display: block;
    margin: auto;
    margin: 4px 0px 4px 16px;
}
.subheading{
    color: white;
}
.music_Selection{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    gap: 10px;
}
.flex-wrapper2{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
#column1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}
#column2{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}
.button{
    padding: 8px;
    border-radius: 8px;
    font: 25px;
    border: 2px solid white;
    box-shadow: 0px 0px 4px black;
}
.button:hover{
    background-color: #BA90C6;
    color: white;
    border:2px solid #2b2935;
}
.center_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
select{
    width: 150px;
    height: 45px;
    border-radius: 8px;
}