* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #393646;
}

.flex-wrapper {
    margin-top: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.button-row div {
    font-family: 'ubuntu';
    min-height: 20vw;
    min-width: 20vw;
    background-color: #4F4557;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3.5em;
}

/* .button-row div:hover,.button-row div:active{
    transform: translate(4px,4px);
    box-shadow: 0px 0px 0px black;
    transition: 0.1s;
} */
.unpressed {
    color: #BA90C6;
    box-shadow: 0px 0px 0px white;
}

.pressed {
    color: white;
    box-shadow: 0px 0px 15px white;
    transition: 0.1s;
}